@page "/"

@inject IBlazRTCService BlazRTCService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@foreach (var device in devices)
{
    <div>@device.Label</div>
}

@code {
    List<MediaDevice> devices = new List<MediaDevice>();

    protected override async Task OnInitializedAsync()
    {
        devices = await BlazRTCService.GetMediaDevicesAsync();
    }

}