@page "/"
@implements IAsyncDisposable
@using Microsoft.AspNetCore.SignalR.Client



<PageTitle>Index</PageTitle>

<h1>Connected Media Device</h1>


@foreach (var device in devices)
{
    <div>@device.Label : @device.Kind</div>
}
<button @onclick="StartMediaCapture">Start Capture</button>
@* 
@if (localStreamId != null)
{
    <button @onclick="ToggleVideo">Toggle Video</button>
    <button @onclick="StopMediaCaptureAsync">Stop Capture</button>
} *@
<video id="preview" autoplay muted></video>



