@page "/"

@inject IMediaDeviceService MediaDeviceService

<PageTitle>Index</PageTitle>

<h1>Connected Media Device</h1>


@foreach (var device in devices)
{
    <div>@device.Label : @device.Kind</div>
}
<button @onclick="StartMediaCapture">Start Capture</button>
<video id="preview" autoplay muted></video>


@code {
    List<MediaDeviceInfo> devices = new List<MediaDeviceInfo>();

    protected override async Task OnInitializedAsync()
    {
        devices = (await MediaDeviceService.GetMediaDevicesAsync()).ToList();
    }

    private async Task StartMediaCapture()
    {
        var options = MediaCaptureOptions.Create()
        .WithAudioEnabled()
        .WithVideoEnabled()
        .WithPreviewStream("preview");

        await MediaDeviceService.StartCaptureAsync(options);

    }
}